<ion-view>
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-title>Code Delivery - Login</ion-nav-title>
    </ion-nav-bar>
    <ion-content class="padding">
        <form name="form" ng-submit="login()">
            <div class="list list-inset">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Username</span>
                    <input type="text" name="username" ng-model="user.username" placeholder="Username" required="required">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-model="user.password"  placeholder="Password" required="required">
                </label>
            </div>
            <button type="submit" class="button button-full button-balanced">Login</button>
        </form>
    </ion-content>
</ion-view>