<ion-view>
    <ion-nav-title>Pedido</ion-nav-title>
    <div class="bar bar-subheader">
        <button class="button button-icon ion-plus" ng-click="openListProducts()"></button>
        <h2 class="title"> Total: R$ {{total}}</h2>
        <button class="button button-clear button-icon ion-minus-circled" ng-click="showDelete = !showDelete" ng-class="{'button-assertive': showDelete, '' : !showDelete, 'button-dark' : !showDelete}">
        </button>
    </div>
    <ion-content class="padding has-subheader">
        <ion-list show-delete="showDelete">
            <ion-item class="item-balanced item-icon-left" ng-show="cupom.value != null">
                <span class="icon ion-close" ng-click="removeCupom()"></span>
                <span class="badge badge-balanced"> -  R$ {{cupom.value}}</span>
                <strong>Cupom</strong>
            </ion-item>
            <ion-item ng-repeat="item in items" ng-click="openProductDetail($index)">
                <h2>{{item.name}}</h2>
                <div class="row">
                    <div class="col">
                        Qtd: {{item.qtd}} <br/>
                        <i class="ion ion-cash"> {{item.price}} </i>
                    </div>
                    <div class="col text-right">
                        <i class="ion ion-social-usd"> {{item.qtd * item.price}}</i>
                    </div>
                </div>
                <ion-delete-button class="ion ion-minus-circled" ng-click="removeItem($index)"></ion-delete-button>
            </ion-item>
        </ion-list>
        <button type="button" class="button button-balanced button-full" ng-click="readBarCode()" ng-disabled="cupom.value != null">Adicionar cupom</button>
        <button type="button" class="button button-assertive button-full" ng-click="save()">Salvar pedido</button>
    </ion-content>
</ion-view>