<ion-view>
    <ion-nav-title>Nossos produtos</ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title">Escolha seu produto</h2>
    </div>
    <ion-content class="padding has-subheader">
        <ion-list>
            <ion-item ng-repeat="product in products" ng-click="addItem(product)">
                {{product.name}}
                <span class="item-note">
                    <i class="ion ion-cash"> {{product.price}} </i>
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>